
<div class="float-left border-right border-bottom text-muted" style="height:500px; width:100px; background-color: ghostwhite">
    <div align="center">
        <p>|@Html.ActionLink("Orders", "Index", "Orders", new { /* id=item.PrimaryKey */ })</p>
        <p>|@Html.ActionLink("Cargoes", "Index", "Cargoes", new { /* id=item.PrimaryKey */ })</p>
    </div>
</div>